<!-- DIALOG -->
<!-- Author :HoanOliver(16/10/2021) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/layout/layout.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">Đây là header</div>
        <div class="sidebar">Đây là sidebar</div>
        <div class="main">

            <!-- DIALOG -->
            <div class="dialog">
                <div class="dialog-wrapper">
                        
                    <div class="dialog__header">
                        Thông báo
                    </div>
                    <div class="dialog__body">
                        Bạn có chắc chắn muốn xóa  không?
                    </div>
                    <button class="dialog__button-close"><div class="close-icon"></div></button>
                    
                    <div class="dialog__footer">
                        <button class="btn margin-left-8" >Có</button>
                        <button class="btn-phu " >Không</button>
                    </div>
                </div>
            </div>
             <!-- DIALOG -->
        
        </div>
        
    </div>
</body>
</html>