<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout/layout.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Thông tin nhân viên AMIS.VN</title>

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <div class="logo-home-container">
                    <div class="logo__home-icon"></div>
                </div>
                    <div class="logo__image-icon"></div>
                
            </div>
            <div class="header-container">
                <div class="navbar-container">
                    <div class="navbar-icon"></div>
                </div>
                <div class="header-wrapper">
                    <div class="header-left">
                        <div class="text-header">
                            công ty tnhh sản xuất - thương mại - dịch vu qui phúc
                        </div>
                        <div class="mt-icon-wrapper">
                            <div class="mt-icon"></div>
                        </div>
                    </div>
                    <div class="notice-container">
                        <div class="notice-icon"></div>
                        <div class="avatar-icon"></div>
                        <div class="profile">Lưu Tiến Hoan</div>
                        <div class="mt-icon-wrapper">
                            <div class="mt-icon"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li>
                        
                        <a href="">
                            <div class="tong-quan-icon" title="Tổng quan"></div>
                            
                            <div class="sidebar__text">Tổng quan</div>
                        </a>
                        
                    </li>
                    <li>
                        
                        <a href="">
                            <div class="tien-mat-icon"></div>
                            
                            <div class="sidebar__text">Tiền mặt</div>
                        </a>
                        
                    </li>
                    <li>
                        
                        <a href="">
                            <div class="tien-gui-icon"></div>
                            
                            <div class="sidebar__text">Tiền gửi</div>
                        </a>
                        
                    </li>
                    <li>
                        
                        <a href="">
                            <div class="mua-hang-icon"></div>
                            
                            <div class="sidebar__text">Mua hàng</div>
                        </a>
                        
                    </li>
                    <li>
                        
                        <a href="">
                            <div class="ban-hang-icon"></div>
                            
                            <div class="sidebar__text">Bán hàng</div>
                        </a>
                        
                    </li>
                    <li>
                        
                        <a href="">
                            <div class="quan-ly-hoa-don-icon"></div>
                            
                            <div class="sidebar__text">Quản lý hóa đơn</div>
                        </a>
                        
                    </li>
                    <li>
                        
                        <a href="">
                            <div class="kho-icon"></div>
                            
                            <div class="sidebar__text">Kho</div>
                        </a>
                        
                    </li>
                    
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="content-container">
                <div class="header-main-container">
                    <div class="content__text"><b>Nhân viên</b></div>
                    <div class="addnew">
                        <button class="btn btn-header">Thêm mới nhân viên</button>
                    </div>
                </div>
                <div class="main-wrapper">
                    <div class="table-search">
                        <div class="search">
                            <input type="text" name="input" class="textfield input" placeholder="Tìm theo mã, tên nhân viên" hhh>
                            <div class="search-icon"></div>
                        </div>
                        <div class="reload-container">
                            <div class="reload-icon"></div>
                        </div>
                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Mã nhân viên</th>
                                    <th>Tên nhân viên</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>Số CMND</th>
                                    <th>Chức danh</th>
                                    <th>Tên đơn vị</th>
                                    <th>Số tài khoản</th>
                                    <th>Tên ngân hàng</th>
                                    <th>Chi nhánh tk ngân hàng </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>NV00001</td>
                                    <td>Lưu Tiến Hoan</td>
                                    <td>Nam</td>
                                    <td>24/05/1999</td>
                                    <td>686868</td>
                                    <td>Nhân viên</td>
                                    <td>Xuất nhập kho</td>
                                    <td>4953686868</td>
                                    <td>Techcombank</td>
                                    <td>Hoàng Quốc Việt</td>
                                    <td>chưa có gì</td>
                                </tr>
                                <tr>
                                    <td>NV00001</td>
                                    <td>Lưu Tiến Hoan</td>
                                    <td>Nam</td>
                                    <td>24/05/1999</td>
                                    <td>686868</td>
                                    <td>Nhân viên</td>
                                    <td>Xuất nhập kho</td>
                                    <td>4953686868</td>
                                    <td>Techcombank</td>
                                    <td>Hoàng Quốc Việt</td>
                                    <td>chưa có gì</td>
                                </tr>
                                <tr>
                                    <td>NV00001</td>
                                    <td>Lưu Tiến Hoan</td>
                                    <td>Nam</td>
                                    <td>24/05/1999</td>
                                    <td>686868</td>
                                    <td>Nhân viên</td>
                                    <td>Xuất nhập kho</td>
                                    <td>4953686868</td>
                                    <td>Techcombank</td>
                                    <td>Hoàng Quốc Việt</td>
                                    <td>chưa có gì</td>
                                </tr>
                                <tr>
                                    <td>NV00001</td>
                                    <td>Lưu Tiến Hoan</td>
                                    <td>Nam</td>
                                    <td>24/05/1999</td>
                                    <td>686868</td>
                                    <td>Nhân viên</td>
                                    <td>Xuất nhập kho</td>
                                    <td>4953686868</td>
                                    <td>Techcombank</td>
                                    <td>Hoàng Quốc Việt</td>
                                    <td>chưa có gì</td>
                                </tr>
                                    <tr>
                                        <td>NV00001</td>
                                        <td>Lưu Tiến Hoan</td>
                                        <td>Nam</td>
                                        <td>24/05/1999</td>
                                        <td>686868</td>
                                        <td>Nhân viên</td>
                                        <td>Xuất nhập kho</td>
                                        <td>4953686868</td>
                                        <td>Techcombank</td>
                                        <td>Hoàng Quốc Việt</td>
                                        <td>chưa có gì</td>
                                    </tr>
                                    <tr>
                                        <td>NV00001</td>
                                        <td>Lưu Tiến Hoan</td>
                                        <td>Nam</td>
                                        <td>24/05/1999</td>
                                        <td>686868</td>
                                        <td>Nhân viên</td>
                                        <td>Xuất nhập kho</td>
                                        <td>4953686868</td>
                                        <td>Techcombank</td>
                                        <td>Hoàng Quốc Việt</td>
                                        <td>chưa có gì</td>
                                    </tr>
                                    <tr>
                                        <td>NV00001</td>
                                        <td>Lưu Tiến Hoan</td>
                                        <td>Nam</td>
                                        <td>24/05/1999</td>
                                        <td>686868</td>
                                        <td>Nhân viên</td>
                                        <td>Xuất nhập kho</td>
                                        <td>4953686868</td>
                                        <td>Techcombank</td>
                                        <td>Hoàng Quốc Việt</td>
                                        <td>chưa có gì</td>
                                    </tr>
                                    <tr>
                                        <td>NV00001</td>
                                        <td>Lưu Tiến Hoan</td>
                                        <td>Nam</td>
                                        <td>24/05/1999</td>
                                        <td>686868</td>
                                        <td>Nhân viên</td>
                                        <td>Xuất nhập kho</td>
                                        <td>4953686868</td>
                                        <td>Techcombank</td>
                                        <td>Hoàng Quốc Việt</td>
                                        <td>chưa có gì</td>
                                    </tr>
                                    <tr>
                                        <td>NV00001</td>
                                        <td>Lưu Tiến Hoan</td>
                                        <td>Nam</td>
                                        <td>24/05/1999</td>
                                        <td>686868</td>
                                        <td>Nhân viên</td>
                                        <td>Xuất nhập kho</td>
                                        <td>4953686868</td>
                                        <td>Techcombank</td>
                                        <td>Hoàng Quốc Việt</td>
                                        <td>chưa có gì</td>
                                    </tr>
                                    <tr>
                                        <td>NV00001</td>
                                        <td>Lưu Tiến Hoan</td>
                                        <td>Nam</td>
                                        <td>24/05/1999</td>
                                        <td>686868</td>
                                        <td>Nhân viên</td>
                                        <td>Xuất nhập kho</td>
                                        <td>4953686868</td>
                                        <td>Techcombank</td>
                                        <td>Hoàng Quốc Việt</td>
                                        <td>chưa có gì</td>
                                    </tr>
                                </tbody>
                                 
                        </table>
                    </div>
                    <div class="pading-container">
                        <div class="pading-left">Tổng số : 20 bản ghi</div>
                        <div class="pading-right">
                          
                            <div class="el-wrapper">
                                <label for="" class="input__label">Số bản ghi/trang</label>
                                <div class="combobox">
                                    <input type="text" class="input combobox__input">
                                    <button class="combobox__button"><div class="mt-icon"></div></button>
                                    <div class="combobox__data">
                                        <div class="data-item"> 10</div>
                                        <div class="data-item"> 20</div>
                                        <div class="data-item"> 50</div>
                                        <div class="data-item"> 100</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-record">1-10 bản ghi</div>
                            <button class="back__button"><div class="back-icon"></div></button>
                            <button class="back__button"><div class="next-icon"></div></button></button>
                        </div>
                    </div>
            
                </div>

            </div>
            
        </div>
        
    </div>
</body>
</html>